:root {
  --bg: #282c34;
  --header: #fff;
  --link: #61dafb;
  --text: hsla(0, 0%, 100%, 0.88);
}

.card {
  max-width: 150px;
  margin: 20px;
  padding: 20px;
  border: 1px solid white;
  border-radius: 15px;
  background: linear-gradient(45deg, #492b7c, #301551, #ed8a0a, #f6d912, #fff29c);
  color: white;
  height: 300px;
  list-style: none;
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 65vw;
  height: 1150px;
  border: 2px solid black;
  border-radius: 10px;
}

.navbar {
display: flex;
flex-direction: row;
justify-content: space-between;
padding: 10px;
border: 2px solid #FF6B6B;
border-radius: 10px;
}

.navbar ul {
height: 60px ;;
display: flex;
flex-direction: row;
justify-content: flex-end;
list-style: none;
margin-top: 0px;
}

.navbar li {
margin: 10px;
border: 1px solid black;
border-radius: 15px ;
padding: 5px;
display: inline-block;
transition: all 0.3s ease;
cursor: pointer;
background-color: white;
color: black;
text-align: center;
}

.navbar li:hover {
  background-color: #f6d912;
  border-color: #0600b3;
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transform: trasnlateY(-2px);
}
.navbar a {
  text-decoration: none;
  font-size: 20px;
  color: black;

}

.card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.name {
  font-size: 15px;
}

.ind-card {
  max-width: 3000px;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
  background: linear-gradient(90deg, #492b7c, #301551, #ed8a0a, #f6d912, #fff29c);
  color: white;
  height: 750px;
  list-style: none;
  display:grid;
  grid-template-columns: 1fr 1fr;

}

.ind-card-image {
  width: 500px;
  height: 600px;
  object-fit: contain;
}

.desc {
  font-size: 1.5em;
  border: solid black 2px;
  border-radius: 15px;
  height: 200px;
  width: 700px;
  padding: 10px;
} 

.comment-section {
  width:500px;
  height: 300px;
}

.Form{
  border: solid black 2px;
  border-radius: 15px;
  padding: 10px;
}

.new-game-form {
  padding: 1rem;
  margin: 1rem;
  height: 675px;
  background-image: url(https://images.cointelegraph.com/cdn-cgi/image/format=auto,onerror=redirect,quality=90,width=1434/https://s3.cointelegraph.com/uploads/2023-04/07f9eded-4ec7-4c9e-b753-3ea9b9754b77.jpg);
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
}


.new-game-form h2 {
  align-self: center;
  line-height: 50px;
  
}

.new-game-form form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.new-game-form input {
  text-align: center;
  margin-bottom: 2rem;
  flex: 1;
  width: 250px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

textarea {
  height: 200px;
  resize: none;
  border-radius: 10px;
  border: 3px solid black;
  padding: 5px;
  text-align: center;
}


#create {
  width: 200px;
  height: 25px;
  border: none;
  outline: none;
  color: black;
  background: black;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  align-self: center;
  margin-top: 15px;
}

#create:before {
  content: '';
  background: linear-gradient(90deg, white, black);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 30s linear infinite;
  opacity: 0;
  transition: opacity .1s ease-in-out;
  border-radius: 10px;
}

#create:active {
  color: black
}

#create:active:after {
  background: transparent
}

#create:hover:before {
  opacity: 1
}

#create:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0;}
  100% { background-position: 0 0; }
}